Om=0.310000 #Omega_Matter
Ol=0.690000 #Omega_Lambda
h0=0.675000 #h0

SCALEFILE = "/pscratch/sd/n/nataraj2/Nyx/cosmo-suite/Nyx-Workflows/Rockstar_MPI/rockstar_examples/Parallel/NyxTesting/halos/outputs/scales.txt"
INBASE = "/pscratch/sd/n/nataraj2/Nyx/cosmo-suite/Nyx-Workflows/Rockstar_MPI/rockstar_examples/Parallel/NyxTesting/halos"
OUTBASE = "/pscratch/sd/n/nataraj2/Nyx/cosmo-suite/Nyx-Workflows/Rockstar_MPI/rockstar_examples/Parallel/NyxTesting/halos/outputs"
TREE_OUTBASE = "/pscratch/sd/n/nataraj2/Nyx/cosmo-suite/Nyx-Workflows/Rockstar_MPI/rockstar_examples/Parallel/NyxTesting/halos/trees"
HLIST_OUTBASE = "/pscratch/sd/n/nataraj2/Nyx/cosmo-suite/Nyx-Workflows/Rockstar_MPI/rockstar_examples/Parallel/NyxTesting/halos/hlists"

BOX_DIVISIONS=1
BOX_WIDTH=20.000000

MASS_DEFINITION = vir

MIN_TIMESTEPS_TRACKED = 1
MIN_TIMESTEPS_SUB_TRACKED = 1
MIN_TIMESTEPS_SUB_MMP_TRACKED = 1
MAX_PHANTOM_FRACTION = 0.25

MAJOR_MERGER=0.3 #The merger ratio which constitutes a major merger
MIN_MMP_MASS_RATIO=0.3 #The minimum mass for a progenitor to be considered an MMP
MIN_MMP_VMAX_RATIO=0.7 #The minimum vmax for a progenitor to be considered an MMP

PADDING_TIMESTEPS=0 #Don't kill halos if they have link problems during the last 1 timestep.

LAST_DITCH_SEARCH_LIMIT=1.0 #For connecting halos which have "moved" up 
			    #to this amount times their virial radius
LAST_DITCH_VMAX_RATIO_1=1.4  # For connecting halos which have "moved"
			     # unphysical amounts
LAST_DITCH_VMAX_RATIO_2=2.5 
MAX_PHANTOM=1       # max timesteps to keep phantom halo
MAX_PHANTOM_SMALL=1 # max timesteps to keep small phantom halo
SMALL_PARTICLE_LIMIT=49 # Halos smaller than this size get
			# kept around for less time.
TIDAL_FORCE_LIMIT=0.4
RECURSION_LIMIT=5
METRIC_LIMIT=7
METRIC_BREAK_LIMIT=3.2 #Below which we break a link.
MASS_RES_OK=6.40982e+08 #Halo mass above which there are probably
		 #not resolution issues.

EXTRA_PARAMS = 37
#EXTRA_PARAM_LABELS = "Rs_Klypin Mvir_all M200b M200c M500c M2500c Xoff Voff Spin_Bullock b_to_a c_to_a A[x] A[y] A[z] b_to_a(500c) c_to_a(500c) A[x](500c) A[y](500c) A[z](500c) T/|U| M_pe_Behroozi M_pe_Diemer Halfmass_Radius"
EXTRA_PARAM_LABELS = "rs_klypin Mvir_all M200b M200c M500c M2500c Xoff Voff spin_bullock b_to_a c_to_a A[x] A[y] A[z] b_to_a(500c) c_to_a(500c) A[x](500c) A[y](500c) A[z](500c) T/|U| M_pe_Behroozi M_pe_Diemer Halfmass_Radius rvmax NFW_chi2 Ixx Iyy Izz Ixy Iyz Izx Ixx(500c) Iyy(500c) Izz(500c) Ixy(500c) Iyz(500c) Izx(500c)"

EXTRA_PARAM_DESCRIPTIONS = "#Rs_Klypin: Scale radius determined using Vmax and Mvir (see Rockstar paper)\n#Mvir_all: Mass enclosed within the specified overdensity, including unbound particles (Msun/h)\n#M200b--M2500c: Mass enclosed within specified overdensities (Msun/h)\n#Xoff: Offset of density peak from average particle position (kpc/h comoving)\n#Voff: Offset of density peak from average particle velocity (km/s physical)\n#Spin_Bullock: Bullock spin parameter (J/(sqrt(2)*MVR))\n#b_to_a, c_to_a: Ratio of second and third largest shape ellipsoid axes (B and C) to largest shape ellipsoid axis (A) (dimensionless).\n#  Shapes are determined by the method in Allgood et al. (2006).\n#  (500c) indicates that only particles within R500c are considered.\n#A[x],A[y],A[z]: Largest shape ellipsoid axis (kpc/h comoving)\n#T/|U|: ratio of kinetic to potential energies\n#M_pe_*: Pseudo-evolution corrected masses (very experimental)\nHalfmass_Radius: Radius within which 1/2 of Mvir is enclosed."
EXTRA_PARAM_INTERPOLATIONS = "cllllllllllllllllllllc"

LIMITED_MEMORY = 1
