FILE_FORMAT = "GADGET2"
TOTAL_PARTICLES = 1073741824
INBASE = "/pscratch/sd/n/nataraj2/Nyx/Nyx_MyLightcone/LyA_with_HaloFinder_GPU/LCDM_GadgetFiles/GadgetFilesForRockstar/AllSnapshots"
FILENAME = "nyx_snapshot.<snap>.<block>"
OUTBASE = "halos"
FORCE_RES = 0.005
# Add this line to your Rockstar config file
#POSITION_CONVERSION = 1.0
#BOX_SIZE = 20.0
MIN_HALO_OUTPUT_SIZE = 1000
#OVERLAP_LENGTH = 0.5
#PARALLEL_IO = 1
#PERIODIC = 1
STARTING_SNAP=0
NUM_SNAPS = 22
NUM_BLOCKS = 512
#NUM_READERS = 32
#NUM_WRITERS = 32
#OVERLAP_LENGTH = 0.1
RESCALE_PARTICLE_MASS = 1
