FILE_FORMAT = "GADGET2"
INBASE = .
FILENAME = "my_sim.<snap>.<block>"
OUTBASE = /pscratch/sd/n/nataraj2/Nyx/cosmo-suite/Nyx-Workflows/Rockstar/rockstar_examples/Parallel/BackgndWithTwoHalo_Parallel/halos
FORCE_RES = 0.01
BOX_SIZE = 10.0
MIN_HALO_OUTPUT_SIZE = 1000
#MIN_HALO_PARTICLES = 1
PARALLEL_IO = 1
PERIODIC = 1
NUM_BLOCKS = 8
NUM_SNAPS = 1
NUM_READERS = 8
NUM_WRITERS = 8
OVERLAP_LENGTH = 0.1
STARTING_SNAP = 0
RESCALE_PARTICLE_MASS = 1
#DUMP_PARTICLES = 1 0 0
#PARALLEL_IO_SERVER_INTERFACE = "lo"
#FORK_READERS_FROM_WRITERS = 1
#FORK_PROCESSORS_PER_MACHINE = 16 
